<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout/style/build/index.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a class="header__logo" href="./index.html">
                    <div class="logo_text"> <img class="logo_img" src="../img/logo-react.svg" alt=""> React-Betting</div>
                </a>
                <div class="header__nav">
                    <ul class="nav__ul">
                        <a class="href__nav" href="#"><li><img class="href__img" src="./../img//menu_logo/sports_soccer_FILL0_wght400_GRAD0_opsz48.svg" alt=""> Sport</li></a>
                        <a class="href__nav" href="#"><li><img class="href__img" src="./../img//menu_logo/icons8-live-20.png" alt="">Live</li></a>
                        <a class="href__nav" href="#"><li><img class="href__img" src="./../img//menu_logo/icons8-slots-20.png" alt="">Slots</li></a>
                        <a class="href__nav" href="#"><li><img class="href__img" src="./../img//menu_logo/icons8-casino-20.png" alt="">Live Casino</li></a>
                        <a class="href__nav" href="#"><li><img class="href__img" src="./../img//menu_logo/icons8-tv-20.png" alt="">TV Game</li></a>
                    </ul>
                </div>
                <div class="header__authorization">
                    <a class="authorization__button" href="#">
                        Registration
                    </a>
                    <a class="authorization__button" href="#">
                        Login
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="main__nav">
                <div class="main__container">
                    <div class="main__nav">
                        <ul class="nav__ul_main">
                            <a class="href__nav_main" href="#"><li><img class="href__img_main" src="./../img//menu_logo/sports_soccer_FILL0_wght400_GRAD0_opsz48.svg" alt=""> Sport</li></a>
                            <a class="href__nav_main" href="#"><li><img class="href__img_main" src="./../img//menu_logo/icons8-live-20.png" alt="">Live</li></a>
                            <a class="href__nav_main" href="#"><li><img class="href__img_main" src="./../img//menu_logo/icons8-slots-20.png" alt="">Slots</li></a>
                            <a class="href__nav_main" href="#"><li><img class="href__img_main" src="./../img//menu_logo/icons8-casino-20.png" alt="">Live Casino</li></a>
                            <a class="href__nav_main" href="#"><li><img class="href__img_main" src="./../img//menu_logo/icons8-tv-20.png" alt="">TV Game</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>